.container {
    width: 100vw;
    height: 100vh;
}
.gradientBg {
    flex:1;
    background: var(--main-color);
    background: linear-gradient(90deg, var(--main-color) 0%, var(--main-light) 100%);
}