:root {
    --main-color: #7868e6;
    --secondary-color: #edeef7;
    --main-dark: #34495e;
    --main-light: #b8b5ff;
}

@font-face {
    font-family: IRANSansX-Medium;
    src: url('../assets/font/IRANSansX-Medium.woff');
}

*{
    font-family: IRANSansX-Medium, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: var(--main-color) !important;
    border-color: var(--main-light) !important;
}

.btn-primary:focus,  .btn-primary:active {
    box-shadow: 0 0 0 .2rem var(--main-light);
}