@media (max-width: 760px) {
    .drawerCont {
        display: none;
    }
}

.drawerCont {
    position: fixed;
    top: 25px;
    left: 25px;
    height: 94vh;
    width: 250px;
}

.drawer {
    color: white;
    background-color: var(--main-color);
    height: 100%;
}

.drawer ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.drawer ul li {
    display: flex;
}

.drawer li a {
    display: flex;
    flex-grow: 1;
    padding: 0.5em 1em;
    color: white;
}
a.active {
    background-color: #6b5ec6;
}
.drawer li a:hover {
    background-color: #6b5ec6;
    text-decoration: none;
}

.drawer li i {
    margin-right: 1em;
}
