.drawerCont {
    position: fixed;
    top: 25px;
    left: 25px;
    height: 94vh;
    width: 250px;
}

.drawer {
    color: white;
    background-color: var(--main-color);
    height: 100%;
}

.drawer ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.drawer ul li {
    padding: 0.5em 1em;
}

.drawer a {
    color: white;
}

.drawer li i {
    margin: 0 1em;
}