.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    gap: 1em;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 11fr;
    gap: 1em
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}